<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Job title", style: "display: block" %>
   <%= form.text_field :name, placeholder:"Gardener",:size => 50%>
  </div>

  <div>
    <%= form.label :salary, style: "display: block" %>
    <%= form.text_field :salary, value:"£",:size => 50 %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, placeholder: "Gardening job in located in the heart of Sheffield.",:size => 50 %>
  </div>

  <div class="but">
    <%= form.submit %>
  </div>
<% end %>

<style>

.but{
  padding-top: 10px;
}
</style>